:root {
    --background: #ffffff;
    --text-primary: #000;
    --text-secondary: #8e05c2;
    --accent: #8e05c2;
    --border: #333;
    --form-bg: #fff;
}

[data-theme='dark'] {
    --background: #000;
    --text-primary: #fff;
    --text-secondary: #8e05c2;
    --accent: #8e05c2;
    --border: #808080;
    --form-bg: #191919;
}

.navbar {
    background-color: --background;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #f3e9e9;
    font-weight: 600;
}

li {
float: left;
}

li a {
display: block;
color: black;
text-align: center;
padding: 16px;
text-decoration: none;
}

li a:hover {
background-color: #635b5b;
color: beige;
}